# LICENSE PREAMBLE

dist: trusty

git:
 depth: 1

branches:
 only:
  - master
  - release

notifications:
 email: false

language: c

matrix:
  include:
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-5
      env:
        - MATRIX_EVAL="CC=gcc-5"
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-6
      env:
        - MATRIX_EVAL="CC=gcc-6"
    - os: linux
      compiler: gcc
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - gcc-7
      env:
        - MATRIX_EVAL="CC=gcc-7"
    - os: linux
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-4.0
          packages:
            - clang-4.0
      env:
        - MATRIX_EVAL="CC=clang-4.0"
    - os: linux
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-5.0
          packages:
            - clang-5.0
      env:
        - MATRIX_EVAL="CC=clang-5.0"
    - os: linux
      compiler: clang
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-6.0
          packages:
            - clang-6.0
      env:
        - MATRIX_EVAL="CC=clang-6.0"
    - os: osx
      compiler: clang
      osx_image: xcode7.3
    - os: osx
      compiler: clang
      osx_image: xcode8
    - os: osx
      compiler: clang
      osx_image: xcode9
    - os: osx
      compiler: gcc
      osx_image: xcode8
      env:
        - MATRIX_EVAL="brew update && brew install gcc5 && CC=gcc-5"
    - os: osx
      compiler: gcc
      osx_image: xcode8
      env:
        - MATRIX_EVAL="brew update && brew install gcc6 && CC=gcc-6"
    - os: osx
      compiler: gcc
      osx_image: xcode8
      env:
        - MATRIX_EVAL="brew update && brew install gcc@7 && CC=gcc-7"

before_install:
  - 'if [ ${TRAVIS_OS_NAME} == "linux" ]; then
		sudo add-apt-repository --yes ppa:zoogie/sdl2-snapshots || travis_terminate 1;
		sudo apt-get update -qq || travis_terminate 1;
		sudo apt-get install -qq cmake libsdl2-dev || travis_terminate 1;
	else
        brew update || travis_terminate 1;
        brew install sdl2 || travis_terminate 1;
    fi'

before_script:
  - eval "${MATRIX_EVAL}"

script:
  - mkdir travis_build && cd travis_build/
  - cmake -DCMAKE_BUILD_TYPE=Release ..
  - cmake --build . -- -j2
  - ctest -j2
