version: '{branch}.{build}'

branches:
  only:
    - master
    - release

configuration: "Release"
platform: "x64"

clone_depth: "1"

environment:
  matrix:
  - APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2017"
    CMAKE_ARGS: "-DCMAKE_BUILD_TYPE=Release -G \"Visual Studio 15 2017\""
  - APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2015"
    CMAKE_ARGS: "-DCMAKE_BUILD_TYPE=Release -G \"Visual Studio 14 2015\""
  - APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2013"
    CMAKE_ARGS: "-DCMAKE_BUILD_TYPE=Release -G \"Visual Studio 12 2013\""
  - APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2012"
    CMAKE_ARGS: "-DCMAKE_BUILD_TYPE=Release -G \"Visual Studio 11 2012\""
  - APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2010"
    CMAKE_ARGS: "-DCMAKE_BUILD_TYPE=Release -G \"Visual Studio 10 2010\""
  - APPVEYOR_BUILD_WORKER_IMAGE: "Visual Studio 2008"
    CMAKE_ARGS: "-DCMAKE_BUILD_TYPE=Release -G \"Visual Studio 9 2008\""
before_build:
  - |-
    mkdir c:\project_msvc\include\SDL2
    mkdir c:\project_msvc\lib
    cd %TEMP%
  - |-
    appveyor DownloadFile http://www.libsdl.org/release/SDL2-devel-2.0.4-VC.zip
    7z x SDL2-devel-2.0.4-VC.zip > nul
    copy SDL2-2.0.4\include\* c:\project_msvc\include > nul
    copy SDL2-2.0.4\lib\x64\* c:\project_msvc\lib > nul
build_script:
  - |-
    cd %APPVEYOR_BUILD_FOLDER%
    mkdir appveyor_build
    cd appveyor_build
    cmake %CMAKE_ARGS% ..
    cmake --build . -- -j2
    ctest -j2
